<header>
   <nav>

      <!--Menu com logo, campo de busca, link para logar e icone carrinho-->
      <div class="nav-bar">

         <a href="/">

            <img src="../images/logo.png" alt="" class="logo">
         </a>
         <div class="divBusca">

            <input type="text" class="txtBusca" placeholder="Buscar..." />
            <button class="btnBusca" id="btnBusca"><img src="../images/search.png" alt=""> </button>
         </div>

         <div class="link-nav">

            <div class="link-login">

               <img src="../images/user.png" alt="" class="logo-user">
               <a href="login">Entre ou Cadastre-se</a>
            </div>
            <img src="../images/cart.png" alt="" class="logo-cart">
         </div>
 
         <!--Container do carrinho com itens adicionados-->
         <div class="container-cart">
            <div class="container-cart-books">
               <div class="back-cart">
                  <strong id="back-cart">Voltar</strong>
               </div>

               <div class="books-cart">
                  <img src="../images/a-sutil-arte-de-ligar-o-foda-se-2017-mark-manson-et-al-224p-pt.jpg" alt="">
                  <div class="container-titles">
                     <strong class="title-cart">A sutil arte de ligar o foda-se</strong>
                     <div class="container-strong">
                        <strong>Quantidade: 1</strong>
                        <strong>Valor: R$28,99</strong>
                     </div>
                  </div>
               </div>

            </div>
         </div>

         <!--Container do carrinho com itens adicionados até aqui-->

      </div>

      <!--Segundo menu-->
      <div class="menu-nav">
         <a href="#">Compre Livros</a>
         <a href="#">Troque Livros</a>
      </div>
   </nav>
</header>